{% extends 'base.html' %}

{% block content %}

<h2 class="text-center">Изменить пароль</h2>


	<form method="POST" action="{% url 'change_password' %}">
		{% csrf_token %}

		{% if form.errors %}
			<div class="alert alert-warning alert-dismissable" role="alert">
            <p>Your Form Has Errors...</p>
            {% for field in form %}
            	{% if field.errors  %}
            		{{ field.errors }}
            	{% endif %}

            {% endfor %}

          </div>


		{% endif %}
		
       
			{{ form.as_p }}

		<input type="submit" value="Изменить пароль" class="btn btn-secondary">
	</form>

<br/><br/>

<style>
	.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

form p {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #006d77;;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #034a51;
}

.helptext {
    display: block;
    margin-top: 5px;
    color: #6c757d;
}

.text-muted {
    color: #6c757d;
}

.text-center {
    text-align: center;
}

.small {
    font-size: 80%;
}
</style>
{% endblock %}

